#box{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width:25%;
    margin: 5px;
    height:500px;
    min-width: 350px;
    border:none solid ;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
}
.left img{
    box-sizing: border-box;
    width:150px;
    border-radius: 150px;
}
.probox{
    margin-top: 50px;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.profi{
    width:100px;
    float: left;
    margin-left:10px;
    overflow: hidden;
}


.profspan {
    width:300px;
    text-align: left;
    justify-content: left;
    margin-left: 70px;
  
    font-size: 17px;
   
    }

.right{
    width:50%;
    margin: 5px;
    /* margin: 5px; */
    height:500px;
    /* border:none solid ;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    background-color: white; */
    
}


.right > div{
    height:500px;
    border:none solid ;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.6)
}
.right > div h1{
    margin: 0;
    padding: 21.44px 0;
}
.rightbox{
    height: 420px;
    width:auto;
    justify-content: center;
    text-align: center;
    background-image: url(./images/gre.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rightIMG{
    width: 50px;
    height:60px;
    margin:10px;
}

#fp-nav ul li a span{
    background-color: white;
}

